<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- ************************************************************************************************ -->
	<annotation-driven />
	<resources mapping="/resources/**" location="/resources/" />
	<!-- ************************************************************************************************ -->
	<!-- <context:component-scan base-package="com.creperie.myapp.entities"></context:component-scan> 
		<context:component-scan base-package="com.creperie.myapp.dao"></context:component-scan> 
		<context:component-scan base-package="com.creperie.myapp.metier"></context:component-scan> -->
	<!-- ************************************************************************************************ -->
	<!-- ************************************************************************************************ -->
		<beans:bean id="daoEtudiant" class="com.Adaming.myapp.dao.ImplEtudiantDao"></beans:bean>
	<beans:bean id="metierEtudiant" class="com.Adaming.myapp.metier.ImplEtudiantMetier">
		<beans:property name="dao" ref="daoEtudiant"></beans:property>
	</beans:bean>
	<beans:bean id="daoExamen" class="com.Adaming.myapp.dao.ImplExamenDao"></beans:bean>
	<beans:bean id="metierExamen" class="com.Adaming.myapp.metier.ImplExamenMetier">
		<beans:property name="dao" ref="daoExamen"></beans:property>
	</beans:bean>
	<beans:bean id="daoMateriel" class="com.Adaming.myapp.dao.ImplMaterielDao"></beans:bean>
	<beans:bean id="metierMateriel" class="com.Adaming.myapp.metier.ImplMaterielMetier">
		<beans:property name="dao" ref="daoMateriel"></beans:property>
	</beans:bean>
	<beans:bean id="moduleDao" class="com.Adaming.myapp.dao.ImplModuleDao"></beans:bean>
	<beans:bean id="moduleMetier" class="com.Adaming.myapp.metier.ImplModuleMetier">
		<beans:property name="moduleDao" ref="moduleDao"></beans:property>
	</beans:bean>
	<beans:bean id="salleDao" class="com.Adaming.myapp.dao.ImplSalleDao"></beans:bean>
	<beans:bean id="salleMetier" class="com.Adaming.myapp.metier.ImplSalleMetier">
		<beans:property name="salleDao" ref="salleDao"></beans:property>
	</beans:bean>
	<beans:bean id="sessionDao" class="com.Adaming.myapp.dao.ImplSessionDao"></beans:bean>
	<beans:bean id="sessionMetier" class="com.Adaming.myapp.metier.ImplSessionMetier">
		<beans:property name="sessionDao" ref="sessionDao"></beans:property>
	</beans:bean>


	<beans:bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
		<beans:property name="url" value="jdbc:mysql://localhost/adaming"></beans:property>
		<beans:property name="username" value="root"></beans:property>
		<beans:property name="password" value=""></beans:property>
	</beans:bean>
	<beans:bean id="PersistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<beans:property name="defaultDataSource" ref="datasource"></beans:property>
		<beans:property name="persistenceXmlLocations">
			<beans:list>
				<beans:value>classpath*:META-INF/persistence.xml</beans:value>
			</beans:list>
		</beans:property>

	</beans:bean>
	<beans:bean id="EntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<beans:property name="persistenceUnitManager" ref="PersistenceUnitManager"></beans:property>
		<beans:property name="persistenceUnitName" value="UP_adaming"></beans:property>
	</beans:bean>
	<beans:bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<beans:property name="entityManagerFactory" ref="EntityManagerFactory"></beans:property>
	</beans:bean>
	<!-- ************************************************************************************************ -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>
	<!-- ************************************************************************************************ -->
	<context:component-scan base-package="com.Adaming.myapp" />
	<!-- ************************************************************************************************ -->

	<!-- ************************************************************************************************ -->

</beans:beans>